<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>无聊的飞行棋</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
    <script src="static/game.js"></script>
    <script src="static/fireworks.js"></script>
</head>
<body>
    <canvas id="firework" width="0px" height="0px" style="position:absolute;z-index:1;"></canvas>
    <img id="board" src="static/board.jpg" style="display: none">
    <img id="chess" src="static/chess.png" style="display: none">
    <audio id="bgm" src="static/happy.m4a" preload="auto" loop="loop"></audio>
    <div id="bd" style="text-align: center">
        <h1>正在加载游戏资源，请稍后...</h1>
    </div>
</body>
</html>
